/**
 * Blue palette
 */
$blue-palette: (
  50 : #e7f7f8,
  100 : #c4ebec,
  200 : #9ddde0,
  300 : #75cfd4,
  400 : #58c5ca,
  500 : #3abbc1,
  600 : #34b5bb,
  700 : #2cacb3,
  800 : #25a4ab,
  900 : #18969e,
  A100 : #d4fcff,
  A200 : #a1f9ff,
  A400 : #6ef5ff,
  A700 : #54f3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/**
 * Green palette
 */
$green-palette: (
  50 : #e7f5ef,
  100 : #c2e6d6,
  200 : #9ad6bb,
  300 : #71c6a0,
  400 : #52b98b,
  500 : #34ad77,
  600 : #2fa66f,
  700 : #279c64,
  800 : #21935a,
  900 : #158347,
  A100 : #b8ffd6,
  A200 : #85ffb9,
  A400 : #52ff9b,
  A700 : #39ff8c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



/**
 * Red/pink  Palette
 */
$red-palette: (
  50 : #f8e8e7,
  100 : #ecc6c4,
  200 : #e0a09d,
  300 : #d47975,
  400 : #ca5d58,
  500 : #c1403a,
  600 : #bb3a34,
  700 : #b3322c,
  800 : #ab2a25,
  900 : #9e1c18,
  A100 : #ffd5d4,
  A200 : #ffa3a1,
  A400 : #ff716e,
  A700 : #ff5854,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

