@import './colors';
@import './vars';
@import './foundation';
@import './material';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700');

body {
	font-family: Roboto, Arial, sans-serif;
	margin: 0;
}

a {
	color: map-get($green-palette, 600);
}
