<div class="grid-container" style="margin-top: 4em;">
	<div class="grid-x grid-margin-x align-middle align-center">
		<div class="cell shrink">
			<mat-card>
				<mat-card-title>Connexion</mat-card-title>
				<mat-card-content>
					<form [formGroup]="loginForm" (submit)="onSubmit()">
						<div class="grid-x grid-margin-x align-center align-middle">
							<div class="cell shrink">
								<mat-icon>account_circle</mat-icon>
							</div>
							<div class="cell auto">
								<mat-form-field>
									<input matInput placeholder="Username*" formControlName="username">
								</mat-form-field>
							</div>
						</div>
						<div class="grid-x grid-margin-x align-center align-middle">
							<div class="cell shrink">
								<mat-icon>lock</mat-icon>
							</div>
							<div class="cell auto">
								<mat-form-field>
									<input matInput type="password" placeholder="Password*" formControlName="password">
								</mat-form-field>
							</div>
						</div>
						<div class="grid-x grid-margin-x align-center">
							<div class="cell">
								<button mat-raised-button [disabled]="!loginForm.valid">Se connecter</button>
							</div>
						</div>
					</form>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
