<div class="grid-container">
	<div class="grid-x grid-margin-x align-center align-middle">
		<div class="cell">
			<h1>10 000</h1>
			<ng-container *ngIf="!play">
				<button mat-raised-button (click)="newGame()" >New Game</button>
			</ng-container>
			<ng-container *ngIf="play">
				<ng-container *ngIf="!play.isStarted">
					<form [formGroup]="playerForm" (submit)="addPlayer()">
						<mat-form-field>
							<input matInput placeholder="Player name" formControlName="name">
							<mat-error *ngIf="playerForm.hasError('required', 'name')">Name required</mat-error>
							<mat-error *ngIf="playerForm.hasError('minlength', 'name')">Name must be at least 3 characters long</mat-error>
						</mat-form-field>

						<button mat-raised-button type="submit" [disabled]="!playerForm.valid || playerForm.controls.name.value == ''">Ajouter</button>
					</form>
				</ng-container>
				<div class="grid-x grid-margin-x">
					<div class="cell auto" *ngFor="let player of players">
						{{ player.name }}
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
